@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno: @ViewData["Aluno"]</p>

<address>
    <strong>Mais informações: </strong> <a href="https://educandoweb.com.br">Educando Web</a>
</address>
